* {
    box-sizing: border-box;
    font-family: 'Nanum Myeongjo', serif;
}

html body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 500px;
    padding: 0;
    margin: 0;
    border: 1px solid #777777;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 #777777;
}

.control {
    width: 100%;
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #777777;
}

.title {
    width: 100%;
}

.record_button {
    min-width: 60px;
    height: 30px;
    margin-left: 20px;
    font-weight: bold;
    color: white;

    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.record_stop {
    background-color: #AEEA00;
}

.record_start {
    background-color: #FF1744;
}

.switch_des {
    min-width: 70px;
    margin: 0 8px 0 0;
    padding-bottom: 5px;
    font-size: 14px;
}

.switch {
    display: inline-block;
    position: relative;
    min-width: 40px;
    height: 20px;
    vertical-align: middle;
}

.switch input {
    display: none;
}

.slider {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    background-color: #CCCCCC;
    transition: .4s;
    -webkit-transition: .4s;
}

.slider:before {
    width: 16px;
    height: 16px;
    left: 2px;
    bottom: 2px;
    content: "";
    position: absolute;
    background-color: white;
    transition: .4s;
    -webkit-transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.voice {
    width: 100%;
    min-height: 100px;

    padding: 0 20px 20px 20px;
    font-size: 20px;
}

.how_1 {
    width: 100%;
    padding: 0 0 10px 10px;
    margin: 6px 0;
    font-size: 16px;
}
.how_2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 0 0;
    margin: 6px 0;
    font-size: 12px;
    color: #777777;
}